
body {
  background: #424242 url("./images/body_bg.png");
}

.container {
  background: #fff url('./images/container_bg.png');
}

#sortFilterBox li a {
   color: #eee;
}

#sortFilterBox .dropdown-menu li > a:hover {
    color: #000;
}

#pokeResults .panel {
  box-shadow: 0 0 0 none;
  border-color: none;
  border: none;
}

#pokeResults .panel-default {
  border-color: none;
}
