
body {
  background: #424242 url("./images/body_bg.png");
}

.container {
  background: #fff url('./images/container_bg.png');
}

#sortFilterBox li a {
   color: #eee;
}

#sortFilterBox .dropdown-menu li > a:hover {
    background-color: #000;
}